* {
	margin: 0; /* margin zuruecksetzten */
}


/* Nav Eigenschaften */
nav {
	position: fixed;
	top: 0px;
	height: 50px;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
	text-align: center;
}

/* Eigenschaften fuer Links in Nav */
nav a {
	text-decoration: none;
	color: white;
	margin-left: 30px;
	line-height: 50px;
	
	transition: font-size .5s;
}

nav a:hover {
	font-size: 22;
}

/* Generelle Eigenschaften der Bilder */
.section {
	height: 60%;
	width: 80%;
	background-color: aqua;
	background-size: cover;
	background-attachment: fixed;
	margin-left: 10%;
}

/* Generelle Eigenschaften der Texte */
.subSection {
	height: 25%;
	/* background: linear-gradient(to bottom right, #CB3328, tomato); */
	background: #404040;
	border-style: solid solid solid solid;
}

/* Bild 1 */
.sectOne{
	background-image: url("../img/img_001.jpg");
}

/* Bild 2 */
.sectTwo{
	background-image: url("../img/img_002.jpg");
}

/* Bild 3 */
.sectThree{
	background-image: url("../img/img_003.jpg");
}

/* Textfeld mit Kontaktinfo */
.divKontakte{
	width: 80%;
	height: 70%;
	margin-left: 10%;
	margin-top: 10%;
	border-style: solid solid solid solid;
	background: radial-gradient(white 65%, gray);
}

/* Eigenschaften der Texte in Kontaktinfo */
#kontUeberschrift{
	text-align: center;
}

#kontText{
	text-align: center;
}

/* Infotext-Seite */
.divInfotext{
	width: 70%;
	height: 85%;
	margin-left: 15%;
	margin-top: 5%;
	border-style: solid solid solid solid;
	background: radial-gradient(white 65%, gray);
}

#infoText{
	position: relative;
	text-align: left;
	margin-top: 5%;
	font-size: 2vh;
}

#infoTextparent{
	display: table;
	margin: 0 auto;
}

#impressumText{
	margin-top: 5%;
	text-align: center;
}

/* Gallerie */
div.gallery {
    margin: 11px;
	margin-top: 55px;
    border: 3px solid #ccc;
    float: left;
    width: 210px;
	height: 250px;
    background: white;
	object-fit: cover;
}

div.gallery:hover {
    border: 3px solid #000;
}

div.desc {
    padding: 5px;
    text-align: center;
}

/* Ueberschrift 'Willkommen' */
#pBild01{
	color: white;
	text-align: center;
	font-size: 42;
	position: relative;
	top: 130px;
	border-style: none none solid none;
	border-color: white;
}

/* Ueberschriften in Textfeldern */
#hText{
	width: 50%;
	text-align: center;
	position: relative;
	left: 25%;
	border-style: none none solid none;
	color: white;
}

/* Texte in Textfeldern */
#pText{
	text-align: center;
	margin-top: 30px;
	font-size: 20;
	color: white;
}

/* Ungeordnete Listen in Textfeldern */
#ulText{
	font-size: 20;
	margin-left: 400px;
	margin-top: 30px;
	color: white;
}

/*Abstandsreihe in tabellen*/
#tableSpacer{
	width: 10%
}
